<fieldset >
  <legend>SignUp</legend>
  <form name='signupForm' novalidate>

    <input type="text" name="firstname" placeholder="Pick a firstname"
      ng-model="signup.user.firstname"
      required
      minlength="4"
      ng-maxlength="10">
      {{ signup.user.firstname }}
      <span
        ng-if="(signupForm.firstname.$error.minlength || signupForm.firstname.$error.required) && signupForm.firstname.$touched">
        firstname must be at least 4 characters long
      </span>
      <span ng-if="signupForm.firstname.$error.maxlength && signupForm.firstname.$touched">
        firstname must not be longer than 10 characters
      </span>
      <br>

      <input type="text" name="lastname" placeholder="Pick a lastname"
        ng-model="signup.user.lastname"
        required
        minlength="4"
        ng-maxlength="10">
        {{ signup.user.lastname }}
        <span
          ng-if="(signupForm.lastname.$error.minlength || signupForm.lastname.$error.required) && signupForm.lastname.$touched">
          lastname must be at least 4 characters long
        </span>
        <span ng-if="signupForm.lastname.$error.maxlength && signupForm.lastname.$touched">
          lastname must not be longer than 10 characters
        </span>
        <br>

    <input type="email" name="email" placeholder="Email"
      ng-model="signup.user.email"
      required>
      <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br>

    <input type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="signup.user.phone"
      pattern="(\d{3})-(\d{3})-(\d{4})">
      <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br>

    <button
      ng-disabled="signupForm.$invalid"
      ng-click="signup.submit()">Submit</button>

      <div style="margin-top: 10px;">
        Form valid? {{ signupForm.$valid }}
      </div>
  </form>
</fieldset>
