<fieldset >
  <span>Sign up for our news letter</span>
  <form name='signupForm' novalidate>

    <input type="text" name="firstname" placeholder="Pick a firstname"
      ng-model="signup.user.firstname"
      required
      minlength="4"
      ng-maxlength="10">
      {{ signup.user.firstname }}
      <span
        ng-if="(signupForm.firstname.$error.minlength || signupForm.firstname.$error.required) && signupForm.firstname.$touched">
        firstname must be at least 4 characters long
      </span>
      <span ng-if="signupForm.firstname.$error.maxlength && signupForm.firstname.$touched">
        firstname must not be longer than 10 characters
      </span>
      <br>

      <input type="text" name="lastname" placeholder="Pick a lastname"
        ng-model="signup.user.lastname"
        required
        minlength="4"
        ng-maxlength="10">
        {{ signup.user.lastname }}
        <span
          ng-if="(signupForm.lastname.$error.minlength || signupForm.lastname.$error.required) && signupForm.lastname.$touched">
          lastname must be at least 4 characters long
        </span>
        <span ng-if="signupForm.lastname.$error.maxlength && signupForm.lastname.$touched">
          lastname must not be longer than 10 characters
        </span>
        <br>

    <input type="email" name="email" placeholder="Email"
      ng-model="signup.user.email"
      required> {{ signup.user.email }}
      <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br>

    <input type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="signup.user.phone" required
      pattern="(\d{3})-(\d{3})-(\d{4})">{{ signup.user.phone }}
      <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br>
      <input type="text" name="favorite" placeholder="Favourite dish"
        ng-model="signup.user.favorite" required>{{ signup.user.favorite }}
        <span ng-if="signup.nosuchmenuitem">
          No such menu number exists.
        </span>
        <br>

  <input type="submit" ng-disabled="signupForm.$invalid" ng-click="signup.submit()" value="Submit" />
  </form>
</fieldset>
<span ng-if="signup.completed">
  Your information has been saved
</span>
