<span ng-if='userinfo.user==undefined'>Not Signed Up Yet. <a ui-sref='public.sign_up'>Sign up Now!</a></span>
<div class="container" ng-if='userinfo.user!==undefined'>

  <h2  class="text-center">
    {{ userinfo.user.firstname}} {{ userinfo.user.firstname}}'s profile'
  </h2>
  Firstname: <span>{{ userinfo.user.firstname}}</span><br/>
  Lastname: <span>{{ userinfo.user.lastname}}</span><br/>
  Email: <span>{{ userinfo.user.email}}</span><br/>
  Phone: <span>{{ userinfo.user.phone}}</span><br/>
  <span> Favourite item on the menu: </span><br/>
  <menu-item
             menu-item="userinfo.user.menuitemdata">
  </menu-item>


</div>
